

#words {
  appearance: none;
  background-color: #C4C4C4;
  border: none;
  width: 283px;
  height: 36px;

  
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}


